ul.nav.nav-tabs.nav-stacked
	!=partial("menu_item", { link: "/", title: "Home", icon: "icon-home"})
	!=partial("menu_item", { link: "/home/" + user.email, title: user.first_name + "'s Dashboard", icon: "icon-star"})
	!=partial("menu_item", { link: "/users/refresh_info", title: "Refresh Session", icon: "icon-refresh" })
	- if (user.is_in_role("admin"))
		li.nav-header Administration
		!=partial("menu_item", { link: "/users/", title: "Manage Users", icon: "icon-user"})
		!=partial("menu_item", { link: "/settings/", title: "Site Settings", icon: "icon-cog"})
	- if (user.is_in_role("view_reports"))
		li.nav-header Reports
		!=partial("menu_item", { link: "#", title: "Report 1", icon: "icon-align-left"})
	li.nav-header Inventory
	!=partial("menu_item", { link: "/inv/items/by/user/" + user.email, title: "Issued to " + user.first_name, icon: "icon-list-alt"})
	- if (user.is_in_role("view_inventory"))
		!=partial("menu_item", { link: "/inv/items", title: "View Inventory", icon: "icon-eye-open"})
	- if (user.is_in_role("add_inventory"))	
		!=partial("menu_item", { link: "/inv/new", title: "Add Inventory", icon: "icon-plus-sign"})
	- if (user.is_in_role("assign_inventory"))
		!=partial("menu_item", { link: "/inv/items/by/availability", title: "Assign Inventory", icon: "icon-share"})
	- if (user.is_in_role("check_in_inventory"))	
		!=partial("menu_item", { link: "/inv/items/by/needs_verification", title: "Verify Inventory", icon: "icon-flag"})
	- if (user.is_in_role("check_in_inventory"))	
		!=partial("menu_item", { link: "/inv/items/by/checked_out", title: "Check-In Inventory", icon: "icon-check"})