div.hero-unit
	p.center
		img(src="/images/iphone.png")
		img(src="/images/macbook.png")
		img(src="/images/tv.png")
		img(src="/images/software.png")
		img(src="/images/camera.png")
	br
	br
	h1.center Inventory Control
	p It's pretty important, so we're going to try to do a better job managing it.
		| If you have any recommendations, we would love to hear them.
	p.center
		button.btn.btn-primary.mr10(type="button", onclick="window.location='/home/#{user.email}';") Go to my dashboard
		button.btn.btn-success.mr10(type="button", onclick="window.location='/i/by_user/#{user.email}';") Show me my stuff
		button.btn.btn-inverse.mr10(type="button", onclick="window.location='mailto:itsupport@bericotechnologies.com';") Complain to IT Support