h2 Inventory Items by Disposition
!=partial("partials/menus/inventory_list_menu", { active: "/inv/items/by/disposition" })
!=partial("partials/tables/inventory", { base_url: "/inv/items/by/disposition" })