h2 Inventory Items by Date Received
!=partial("partials/menus/inventory_list_menu", { active: "/inv/items/by/date_received" })
!=partial("partials/tables/inventory", { base_url: "/inv/items/by/date_received" })