h2 Inventory Items by Make, Model, No.
!=partial("partials/menus/inventory_list_menu", { active: "/inv/items/by/make_model_no" })
!=partial("partials/tables/inventory", { base_url: "/inv/items/by/make_model_no" })