- if(typeof(key) != "undefined")
	h2 Inventory Items for #{key}
- else
	h2 Inventory Items by User
- if (user.is_in_role("view_inventory"))
	!=partial("partials/menus/inventory_list_menu", { active: "/inv/items/by/user" })
- else
	br
	br
!=partial("partials/tables/inventory", { base_url: "/inv/items/by/user" })