!!!
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
  body
    div.container-fluid
      !=partial('partials/header', {})
      - if (typeof(mobile) == 'undefined')
          mobile = false
      case mobile
        when false
          div.row-fluid
            div.span3.left_menu
              !=partial('partials/menu', {})
            div.span8.offset1
              != body
        when true
          div.row-fluid
            div.span12
              !=partial('partials/menu_mobile', {})
          div.row-fluid  
            != body
      div.row-fluid 
        !=partial('partials/footer', {})