div(style="width: 100%; text-align: center")
	h1(style="font-size: 72px; color: red")= title
	p You have attempted to access a system for which you are not authorized.  
	p(style='color: #900;') Your computer will now self-destruct in 10 seconds...