- if (typeof(elem_id) == "undefined")
	- var elem_id = "";
- if (typeof(id) == "undefined")
	- var id = "";
- if (typeof(value) == "undefined")
	- var value = "";
input(id="#{elem_id}", type="hidden", name="#{id}", value="#{value}")