<script id="warranty-template" type="text/x-handlebars-template">
	<hr />
	<div style="float: right;"><a class="going-down" href="#history-con-selectors"><i class="icon-comment"></i></a></div>
	<div class="row logentry">
		<div class="span1 logentry-icon">
			<img src="/images/warranty.svg" alt="warranty" />
			<span class="label label-important" style="margin-left: -6px">Warranty</span>
		</div>
		<div class="span10">
			<div class="logentry-info"><a href="/user/{{user.email}}">{{user.first_name}} {{user.last_name}}</a> <strong>posted on</strong> <span class="logentry-date">{{datesimple}}</span></div>
			<blockquote class="logentry-text">
				<p>{{text}}</p>
			</blockquote>
		</div>
	</div>
</script>