legend General Information
div.control-group
	!=partial("partials/controls/textbox", { id: "inv[serial_no]", label: "Serial No:", value: item.serial_no, help: "This can also be a 'Service Tag', which is common on most Dell products." })
	!=partial("partials/controls/textbox", { id: "inv[categories]", label: "Categories:", value: item.categories, help: "Comma-separated list of tags to apply to this item." })
	label.control-label Item or Device Type:
	div.controls
		select(id="itype", name="inv[type]")
			option(value="laptop") Laptop
			option(value="monitor") Monitor
			option(value="server") Server
			option(value="desktop-pc") Desktop Computer
			option(value="tv") Television
			option(value="cell-phone") Cell Phone
			option(value="tablet") Tablet
	br
	!=partial("partials/controls/textbox", { id: "inv[make]", label: "Make:", value: item.make })
	!=partial("partials/controls/textbox", { id: "inv[model]", label: "Model:", value: item.model })
	!=partial("partials/controls/textbox", { id: "inv[model_no]", label: "Model No.:", value: item.model_no })
	!=partial("partials/controls/prelabel_textbox", { id: "inv[estimated_value]", label: "Estimated Value:", value: item.estimated_value, prelabel: "$", width: "184px" })
	!=partial("partials/controls/textbox", { id: "inv[asset_tag]", label: "Asset Tag:", value: item.asset_tag, help: "Legacy Asset Tag number Berico uses on devices." })