legend Disposition
div.control-group
	!=partial("partials/controls/textbox", { id: "inv[date_received]", elem_id: "date_received", label: "Date Received:", value: item.date_received })
	!=partial("partials/controls/textbox", { id: "inv[date_added]", label: "Date Added:", value: item.date_added, disabled: true, help: "Date Added to the Berico Inventory application." })
	!=partial("partials/controls/textbox", { id: "inv[owner]", label: "Owner:", value: item.owner, help: "The entity or person that legally owns the item." })
	!=partial("partials/controls/textbox", { id: "inv[disposition]", label: "Disposition:", value: item.disposition, disabled: true, help: "Current status of the inventory item.  If you are assigning the inventory item immediately after adding it to the system, user the Assign inventory workflow on the bottom of the Inventory item's page." })
script(type="text/javascript")
	$("#date_received").datepicker({ defaultDate: "#{item.date_received}", dateFormat: "yy-mm-dd" });