- if(typeof(item.warranty) == "undefined")
	- item.warranty = { description: "", start_date: "", end_date: "" }
legend Warranty Information
div.description 
	p Warranty information about the inventory item.  Record any pertinent information regarding how to 
		| make a call on the Warranty in the description box.
div.control-group
	label.control-label Description:
	div.controls
		textarea(name="inv[war_description]", value="#{item.warranty.description}", style="height: 150px")
		p.help-block.form-comment.w420px Description of the level of support this warranty provides.
	br
	label.control-label Start Date:
	div.controls
		input(type="text", id="war_start_date", name="inv[war_start_date]", value="#{item.warranty.start_date}")
		p.help-block.form-comment.w420px Date the Warranty becomes effective.
	br
	label.control-label End Date:
	div.controls
		input(type="text", id="war_end_date", name="inv[war_end_date]", value="#{item.warranty.end_date}")
		p.help-block.form-comment.w420px Date the Warranty expires.
script(type="text/javascript")
	$('#war_start_date, #war_end_date').daterangepicker({ dateFormat: "yy-mm-dd" }); 