legend Actions
div.control-group
	label.control-label Issuability:
	div.controls
		select(id="issuability", name="inv[issuability]")
			option(value="no-issue") None
			option(value="issue") Issue to Employee
			option(value="borrow") Allow Borrowing
		p.help-block.form-comment.w420px Can the inventory item be issued to an employee?  
			| "Borrowing" indicates a temporary issuing for a length of time indicated by
			| the "Default Borrow Time".
	br
	!=partial("partials/controls/radiogroup", { id: "inv[allow_self_issue]", label: "Self-Issue?:", options: [ { label: "Not a chance.", value: false, selected: (item.allow_self_issue == false) }, { label: "Yes, allow Self-Issue.", value: true, selected: (item.allow_self_issue == true) } ], help: "Can an employee issue or borrow this item without explicit authorization?" })
	!=partial("partials/controls/textbox", { id: "inv[borrow_time]", label: "Borrow Time:", value: item.borrow_time, help: "The amount of time a person can borrow this item without needing to check it back in, or having it reissued.  Use a number plus the time increment to indicate how long the item can be borrowed: 1m 2w 3d 4h." })