action = "/inv/new"

- if (is_edit)
	action = "/inv/item/" + item.serial_no

form.form-horizontal(action="#{action}", method="POST")
	- if (typeof(item._rev) != "undefined")
		input(type="hidden", name="inv[_rev]", value="#{item._rev}")
	- if (typeof(item.ext) != "undefined")
		input(type="hidden", name="inv[ext]", value="#{item.ext}")
	!=partial("partials/forms/inv_geninfo")
	!=partial("partials/forms/inv_warranty")
	!=partial("partials/forms/inv_accessories")
	!=partial("partials/forms/inv_software")
	!=partial("partials/forms/inv_disposition")
	!=partial("partials/forms/inv_location")	
	!=partial("partials/forms/inv_actions")	
	div.form-actions
		case is_edit
			when true
				!=partial("partials/controls/button_submit", { label: "Update Item" })
				!=partial("partials/controls/button_goto", { label: "Remove Item", url: '//inv/item/' + item.serial_no + '/remove' })
			default
				!=partial("partials/controls/button_submit", { label: "Add Item" })
		!=partial("partials/controls/button_back")


