action = "/user/new"

- if (is_edit)
  action = "/user/" + user.email
  
form.form-horizontal(action="#{action}", method="POST")
    - if (typeof(target_user._rev) != "undefined")
      !=partial("partials/controls/hidden", { id: "user[_rev]", value: target_user._rev })
    - if (is_edit)
      !=partial("partials/controls/hidden", { id: "user[logon_name]", value: target_user.logon_name })
    legend Information
    div.control-group
      !=partial("partials/controls/textbox", { label: "First Name:", id: "user[first_name]", value: target_user.first_name })
      !=partial("partials/controls/textbox", { label: "Last Name:", id: "user[last_name]", value: target_user.last_name })
      !=partial("partials/controls/postlabel_textbox", { id: "user[logon_name]", label: "Email:", value: target_user.logon_name, postlabel: "@bericotechnologies.com", font_size: "9px", disabled: is_edit})
    legend Roles
    div.control-group
      !=partial("partials/controls/role_checkbox", { label: "User:", id: "roles[user]", role: roles.user, disabled: true, help: "Can view items they have issued to them." })
      
      !=partial("partials/controls/role_checkbox", { label: "Admin:", id: "roles[admin]", role: roles.admin, help: "Can add/remove users and modify the inventory system." })
      
      !=partial("partials/controls/role_checkbox", { label: "View Inventory:", id: "roles[view_inventory]", role: roles.view_inventory, help: "Can view inventory items that are not assigned to them." })
  
      !=partial("partials/controls/role_checkbox", { label: "View Reports:", id: "roles[view_reports]", role: roles.view_reports, help: "Can view reports about the inventory." })
      
      !=partial("partials/controls/role_checkbox", { label: "Add Inventory:", id: "roles[add_inventory]", role: roles.add_inventory, help: "Can add new items to the inventory." })
      
      !=partial("partials/controls/role_checkbox", { label: "Remove Inventory:", id: "roles[remove_inventory]", role: roles.remove_inventory, help: "Can remove items from the inventory." })
      
      !=partial("partials/controls/role_checkbox", { label: "Assign Inventory:", id: "roles[assign_inventory]", role: roles.assign_inventory, help: "Can assign items in the inventory to employees." })
      
      !=partial("partials/controls/role_checkbox", { label: "Check-in Inventory:", id: "roles[check_in_inventory]", role: roles.check_in_inventory, help: "Can check-in inventory items from employees." })
      
    div.form-actions
      case is_edit
        when true
          !=partial("partials/controls/button_submit", { label: "Update User" })
          !=partial("partials/controls/button_goto", { label: "Remove User", url: '/user/' + target_user.email + '/remove' })
        default
          !=partial("partials/controls/button_submit", { label: "Create User" })
      !=partial("partials/controls/button_back")